{% extends 'base.html' %}

{% load static %}

{% block title %}ReNu About{% endblock %}

{% block content %}

<div class="pt-5 p-5 container text-center">
<h3 class="title"> Who are we?</h3>
  <br>
  <p>ReNu Ireland is an Enactus DCU student enterprise specialised in renewable gardening and improving the urban composting experience. We are producing a smart composting sensor and accompanying software, which takes the guesswork out of making your own compost.</p><br><br>
  <p></p>

  <div>
    <img src="{% static 'images/the_team.jpg' %}" class="img-fluid" alt="the team" style="height: 20rem; width 30rem; border-radius: 15px;">
  </div>
</div>

{% endblock %}