{% extends 'base.html' %}

{% load static %}

{% block title %}ReNu Contact{% endblock %}

{% block content %}
<h1 class="main_title">Contact Us</h1>
<!--Section: Contact v.2-->
<section class=" mb-4 container">
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us. Our team will come back to you within
        a matter of hours.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 mt-2">
            <form id="contact-form" name="contact-form" action="/postcontact/" method="post">
              {% csrf_token %}
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mt-2">
                        <div class="md-form mb-0">
                          <label for="name" class="">Your name</label>  
                          <input type="text" id="name" name="name" class="form-control" placeholder="Name" required> 
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mt-2">
                        <div class="md-form mb-0">
                           <label for="email" class="">Your email</label>  
                          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
                           
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="md-form mb-0">
                          <label for="subject" class="">Subject</label>  
                          <input type="text" id="subject" name="subject" class="form-control" placeholder="Your subject" required>
                            
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">

                        <div class="md-form">
                          <label for="message">Your message</label>  
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Message" required></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            <div class="text-center mt-3 text-md-left">
                <input class="btn my_button" type="submit" value="Submit" onclick="ValidateEmail(document.contact-form.email)">
            </div>
            </form>

            
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center make_black">
            <ul class="make_black list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i><br>
                    <a class="make_black" href="https://goo.gl/maps/cPZyZUFKcSUai77LA" target="_blank">Dublin City University, Collins Ave Ext, Whitehall, Dublin 9</a>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 353 0873373064</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i><br>
                    <a class="make_black" href="mailto:enactusdcu@gmail.com" target="_blank">enactusdcu@gmail.com</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
</section>
<script type="text/javascript" src="{% static 'js/form-valid.js' %}"></script>

{% endblock %}