{% extends 'base.html' %}

{% load static %}

{% block title %}ReNu Education{% endblock %}

{% block content %}

<div class="pt-5 p-5 container text-center">
<h3 class="title"> Welcome to ReNu Education</h3>
  <p>Learn more about the wonderful world of composting.</p>


<div class="row text-center">
  <div class="col-md-6 text-center">
<div class="text-center mt-5">
<h1>Composting Workshop</h1>
<div class=" text-center embed-responsive embed-responsive-16by9 container mt-5 mb-5">
  <iframe  class="embed-responsive-item yt_vid " src="https://www.youtube.com/embed/LPlAGtPk560" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
  </div>

  <div class="col-md-6 text-center">
<div class="text-center mt-5">
<h1>Composting Guide</h1>
<div class=" text-center embed-responsive embed-responsive-16by9 container mt-5 mb-5">
  <iframe  class="embed-responsive-item" src="{% static 'images/renucomposting.pdf' %}" title="Composting Guide PDF" ></iframe>
</div>
</div>
  </div>

</div>
  </div>

{% endblock %}