{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/footer.css' %}">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<footer id="footer" class="pt-6 mt-6 footer-style mb-0 pb-0 fix" >
    <ul class="nav justify-content-center border-bottom pt-4 pb-3 mb-3 footer-style f-link">
       <li class="ms-3 footer-style p-2"><a href="https://www.instagram.com/renuireland/?hl=en" target="_blank"><i class="fab fa-instagram footer-style"> </i></a></li>
      <li class="ms-3 footer-style p-2"><a href="https://www.linkedin.com/company/renuireland/about/"target="_blank"><i class="fab fa-linkedin footer-style"></i></a></li>
      <li class="ms-3 footer-style p-2"><a href="https://twitter.com/renuireland?lang=en"target="_blank"><i class="fab fa-twitter footer-style"></i></a></li>
    </ul>
    <p class="text-center footer-style mb-0 pb-4">© 2022 ReNu Ireland</p>
<footer class="footer-style"/>