{% extends 'base.html' %}

{% block title %}Renu Home{% endblock %}

{% block content %}
<h1 class="main_title">
Renu
</h1>

<div class="content-box">
<h3 class="title"> Download soon!</h3>
  <br>
  <p>Look out in the next few weeks to be apart of our consumer testing trial.</p>
</div>

<div class=content-box>
  <h3 class="title">
    Our Product
  </h3>
  <br>
  <p>
Renu is the world’s first smart composting assistant that monitors your compost pile and guides you on creating perfect, healthy compost by sending notifications to your phone or web browser.
<br><Br>
Our goal is to simplify the composting process, ultimately leading to societal change in our behaviour surrounding food. Without a shift in perspective the issue of food waste will continue to worsen.

</p>
</div>
{% endblock %}


<!--<h3 class="title">
  Firebase auth test (if Session ID is not empty it worked)</h3><br><br>
  <p>Session ID: {{ request.session.uid }}</p>-->