{% extends 'base.html' %}
{% load static %}
{% block title %}ReNu Home{% endblock %}

{% block content %}
<div class="text-center container pt-5">
<h1>ReNu</h1>
<h3>The smart way to compost.</h3>
</div>


<div class="container p-5 row mx-auto">
<div class="col-md-6 text-center">
<h3 class="title"> Download soon!</h3>
  <br>
  <p>Look out in the next few weeks to be apart of our consumer testing trial.</p>

<div class="row container">
  <div class="col-md-6">
   <img src="{% static 'images/applestore.png' %}" class="img-fluid" alt="apphome" style="height: 4rem; width 7rem; border-radius: 15px;">
  </div>
  <div class="col-md-6">
    <img src="{% static 'images/googleplay.png' %}" class="img-fluid" alt="apphome" style="height: 4rem; width 7rem; border-radius: 15px;">
  </div>
</div>
</div>

  
<div class="col-md-6 text-center">
  <img src="{% static 'images/app_home.jpg' %}" alt="apphome" style="height: 40rem; width 40rem; border-radius: 25px;">
</div>
</div>

<div class=content-box>
  <h3 class="title">
    Our Product
  </h3>
  <br>
  <p>
ReNu is the world’s first smart composting assistant that monitors your compost pile and guides you on creating perfect, healthy compost by sending notifications to your phone or web browser.
<br><Br>
Our goal is to simplify the composting process, ultimately leading to societal change in our behaviour surrounding food. Without a shift in perspective the issue of food waste will continue to worsen.

</p>
</div>
{% endblock %}


<!--<h3 class="title">
  Firebase auth test (if Session ID is not empty it worked)</h3><br><br>
  <p>Session ID: {{ request.session.uid }}</p>-->