{% extends 'base.html' %}
{% load static %}
{% block title %}ReNu Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/carousel.css' %}">
<div class="text-center container pt-5">

</div>


<div class="container p-5 row mx-auto text-center">
<div class="col-md-6 text-center">
  <h1>ReNu</h1>
<h2><em>The smart way to compost.</em></h2>
  <br><br>
<h3> Download soon!</h3>
  <br>
  <p>Look out in the next few weeks to be apart of our consumer testing trial.</p>

<div class="row container text-center">
  <div class="col-md-6 m p-2">
   <img src="{% static 'images/applestore.png' %}" class="img-fluid bigger" alt="apphome" style="height: 4rem; width 7rem; border-radius: 15px;">
  </div>
  <div class="col-md-6 p-2">
    <img src="{% static 'images/googleplay.png' %}" class="img-fluid bigger" alt="apphome" style="height: 4rem; width 7rem; border-radius: 15px;">
  </div>
</div>
</div>

  
<div class="col-md-6 text-center p-2 m-0">
   <!-- slider container -->
    <div class="slider">
      <!-- slide 1 -->
      <div class="slide">
        <img class="img-fluid" src="{% static 'images/app_home.jpg' %}" alt="apphome" style="height: 40rem; width 40rem; border-radius: 25px;">
      </div>
       <!-- slide 2 -->
      <div class="slide">
        <img class="img-fluid" src="{% static 'images/app-page-1.jpg' %}" alt="apphome" style="height: 40rem; width 40rem; border-radius: 25px;">
      </div>
       <!-- Control buttons -->
      <button class="bten bten-next">></button>
      <button class="bten bten-prev"><</button>
    </div>  
</div>
</div>

<div class=content-box>
  <h3 class="title">
    Our Product
  </h3>
  <br>
  <p>
ReNu is the world’s first smart composting assistant that monitors your compost pile and guides you on creating perfect, healthy compost by sending notifications to your phone or web browser.
<br><Br>
Our goal is to simplify the composting process, ultimately leading to societal change in our behaviour surrounding food. Without a shift in perspective the issue of food waste will continue to worsen.

</p>
</div>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>

{% endblock %}

