		input{
			margin-top:20px;
			height: 30px;
			padding: 12px 20px;
			width: 150px;
			margin: 8px 0;
			border-radius: 5px;
		}
		input[type="submit"]{
			background-color: rgba(7, 179, 185, 0.753);
			color: rgb(255, 255, 255);
			border: none;
			border-radius: 5px;
		}
		button{
			background-color: rgba(7, 179, 185, 0.753);
			color: white;
			width: 150px;
			height: 30px;
			border: none;
			border-radius: 5px;
		}