*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto Serif', sans-serif;
  scroll-behavior: smooth;
  background-color: #9fb5af;
} 

.title {
  text-align: center;
  font-size: 2.5rem;
}

.main_title {
  text-align: center;
  padding: 3%;
  font-size: 3.5rem;
}

.content-box {
  padding: 5%;
  margin: 5%;
  color: black;
  border: 3px solid #74948b;
  border-radius: 8px;
  font-size: 1.5rem;
}

.bigger:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.make_black {
  color: black;
}

.my_button {
  background-color: #69a36b;
}		

.my_button:hover{
  background-color: #5e927a;
}

.yt_vid {
  border: 1px solid  #5e927a;
  border-radius: 15px;
}