*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto Serif', sans-serif;
  scroll-behavior: smooth;
  background-color: #9fb5af;
} 

.title {
  text-align: center;
}

.main_title {
  text-align: center;
  padding: 3%;
}



.content-box {
  padding: 5%;
  margin: 5%;
  color: black;
  border: 3px solid #74948b;
  border-radius: 8px;
}