/*carasoul */
body {
  display: grid;
  place-items: center;
}

.slider {
  width: 90%;
  max-width: 40rem;
  height: 40rem;
  position: relative;
  overflow: hidden;  /* <===  */
  /* overflow: hidden; */
}

.slide {
  width: 100%;
  max-width: 40rem;
  height: 40rem;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  object-fit: cover;
}

.bten {
  position: absolute;
  width: 1rem;
  height: 3rem;
  z-index: 8px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.bten:active {
  transform: scale(1.5);
}

.bten-prev {
  top: 25%;
  left: 1%;
}

.bten-next {
  top: 25%;
  right: 1%;
}