{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/accounts.css' %}"
</head>
<body>

<div class="container p-3">
  <h1>Login</h1>
<form action="/postlogin/" method="post">
	{% csrf_token %}
	<br/>
 <div class="form-row">
  <div class="form-group col-md-4 mt-2">
<!-- Enter Your Email: --> 
	<label for="Email"><h5>Email</h5></label>
	<input class="form-control form-control-sm" type="email"id="Email" name="email">
  </div>

   <div class="form-group col-md-4 mt-2">
<!-- Enter Your Password: -->
	<label for="Password"><h5>Password</h5></label>
	<input class="form-control form-control-sm" type="password" id="Password" name="pass">
   </div>
    <div class="form-group col-md-4 mt-5">
   <input class="btn btn-success text-center" type="submit" value="Login">
    </div>
 </div>
  
  <div class="form-row">

     <div class="form-group col-md-4"> 
      <input type="checkbox" checked="checked" name="remember"> 
       <label class="form-check-label p-0">Remember</label>    
   </div>
    
    <div class="form-group col-md-4">
      <p style="color: black;">Forgot Password? <button type="button" class="btn btn-success" onclick="location.href='{% url 'reset' %} '">Reset</button></p>
    </div>
    </div>
  
  <div class="form-group row p-3">
	<button class="btn btn-success" type="button" onclick="location.href='{% url 'register' %} '">Register</button>
  </div>
</form>
</div>
</body>
{% endblock %}

  <div class="form-row">
    <div class="form-group col-md-4 mt-2">
	<label>
	<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
	</label>
    </div>
	<div class="form-group col-md-4 mt-2">
	<input class="btn btn-success" type="submit" value="Register">
  </div>
</div>