{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/accounts.css' %}"
</head>
<body>

<form action="/postlogin/" method="post">
	{% csrf_token %}
	<br/>
<!-- Enter Your Email: -->
	<label for="Email">Email</label>
	<input type="email"id="Email" name="email"><br><br>
<!-- Enter Your Password: -->
	<label for="Password">Password</label>
	<input type="password" id="Password" name="pass"><br><br>
	<input type="submit" value="Login"><br><br>
  <p style="color: black;padding: 10px 0;">Forgot Password? <a href="{% url 'reset'%}" style="color: black;">Click Here to Reset</a></p>
  
	<label>
	<input type="checkbox" checked="checked" name="remember"> Remember me
	</label>
	<button type="button" onclick="location.href='{% url 'register' %} '">Register</button>
</form>
</body>
{% endblock %}