{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/accounts.css' %}"
</head>
<body>

<div class="container p-3 pt-5">
  <h1>Login</h1>
<form action="/postlogin/" method="post">
	{% csrf_token %}
	<br/>
 <div class="form-row">
  <div class="form-group col-md-4 mt-2">
<!-- Enter Your Email: --> 
	<label for="Email"><h5>Email</h5></label>
	<input class="form-control form-control-sm" type="email"id="Email" name="email" placeholder="Your Email">
  </div>

   <div class="form-group col-md-4 mt-2">
<!-- Enter Your Password: -->
	<label for="Password"><h5>Password</h5></label>
	<input class="form-control form-control-sm" type="password" id="Password" name="pass" placeholder="Your Password">
   </div>
    <div class="form-group col-md-4 mt-5">
   <input class="btn my_button text-center" type="submit" value="Login">
    </div>
 </div>
  
  <div class="form-row">

     <div class="form-group col-md-4"> 
      <input type="checkbox" checked="checked" name="remember"> 
       <label class="form-check-label p-0">Remember</label>    
   </div>
    
    <div class="form-group col-md-4">
      <p style="color: black;">Forgot Password? <button type="button" class="btn my_button" onclick="location.href='{% url 'reset' %} '">Reset</button></p>
    </div>
    </div>
  <div class="form-row p-1">
    <p>Don't Have An Account?
	<button class="btn my_button active" type="button" onclick="location.href='{% url 'register' %} '">Register</button>
      </p>
  </div>
</form>
</div>
</body>
{% endblock %}
