{% extends 'base.html' %}

{% load static %}

{% block title %}ReNu Profile{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<center><h1>
{{ request.session.email }}'s Profile Page <br><br>
</h1></center>

<div id="refresh-this-div">
<h3> Sensor Data </h3>
<div id="sensor">
<ul id="display-data"> {{data}}</ul>
</div>
<button class="btn btn-primary" onclick='refresh()'>Update Sensor Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function refresh() {

$.ajax({
    url: '{% url "sensordata" %}',
    type:'GET',
    success: function (data) {
      var div = document.getElementById('display-data');
      div.innerHTML = data.data;       

    }
  });
}
</script>
{% endblock %}