<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/accounts.css' %}"
	<div class="back">
		<a href="{% url 'login' %}"><i class='fas fa-arrow-left' style='font-size:22px'></i>Back</a>
	</div>
	<div class="container">
		<div class="inner">
			<h1>Reset Your Password</h1><br>
			<form action="/postreset/" method="POST">
				{% csrf_token %}
				<input type="email" name="email" id="email" placeholder="Email" required><br><br>
				<input class="btn my_button active" type="submit" value="Submit">
			</form>
		</div>
	</div>
{% endblock %}